.Modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    &__container {
        width: 400px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 10rem;
        background-color: $lightColor;
        border-radius: 0.3rem;
        box-sizing: border-box;
        p {
            padding: 1rem 0;
        }
    }
    &__close-button {
        padding: 0.5rem 1rem;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border: 0;
        border-radius: 0.3rem;
        background-color: $altLightColor;
        font-weight: 700;
        transition: 0.3s;
        &:hover {
            color: $lightColor;
            background-color: $darkColor;
            cursor: pointer;
        }
    }
    &__buttons {
        display: flex;
        margin-top: 1rem;
    }
    &__confirm-button {
        @include button-link();
        width: fit-content;
        margin-right: 1rem;
        background-color: $secondaryColor !important;
        &:hover {
            background-color: $altSecondaryColor !important;
        }
    }
    &__cancel-button {
        @include button-link();
        width: fit-content;
    }
}

@media (max-width: $breakpointTablet) {
    .Modal {
        &__container {
            width: 250px;
            padding: 4rem 2rem 2rem;
        }
    }
}